@use 'variables' as *;
@use 'base/reset';
@use 'components/car-card';

body {
    background-color: $background-color;
    color: $primary-color;
    text-align: center;
    margin: $spacing;
}

header {
    font-size: x-large;
    margin-bottom: 30px;
}

img {
    border-radius: 10px;
    margin: 10px;
}