@use 'variables' as *;
@use 'base/reset';
@use 'components/car-card';
@use 'components/add-car';

body {
  background-color: $background-color;
  color: $primary-color;
  text-align: center;
  margin: $spacing;
  font-family: poppins, sans-serif;
}

header {
    font-size: x-large;
    margin-bottom: 30px;
}

.image {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover {
      transform: scale(1.05);
    }

.car-details {
  background-color: $background-color;
  color: $primary-color;
  text-align: center;
  border: $primary-color solid 2px;
  border-radius: 20px;
  margin: 40px auto;
  padding: 50px;
  max-width: 600px;
}

h1 {
  font-size: xx-large;
  margin-bottom: 30px;
}

p {
  margin: 30px;
}