*,
*::before,
*::after {
  box-sizing: border-box;
  box-shadow: inset;
  margin: 0;
  padding: 0;
}


.car-card {
  display: block;
  background-color: #222;
  color: #fafafa;
  text-align: center;
  border: #fafafa solid 2px;
  border-radius: 20px;
  margin: 40px;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #181818;
  color: #fafafa;
  text-align: center;
  margin: 40px;
  font-family: poppins, sans-serif;
}

header {
  font-size: x-large;
  margin-bottom: 50px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fafafa;
  color: #222;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #444;
  color: #fafafa;
  transform: scale(1.05);
}

.image {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover {
      transform: scale(1.05);
    }

.car-details {
  background-color: #222;
  color: #fafafa;
  text-align: center;
  border: #fafafa solid 2px;
  border-radius: 20px;
  margin: 40px auto;
  padding: 50px;
  max-width: 600px;
}