*,
*::before,
*::after {
  box-sizing: border-box;
  box-shadow: inset;
  margin: 0;
  padding: 0;
}

.car-card {
  background-color: rgb(139, 116, 116);
  color: rgb(255, 255, 255);
  text-align: center;
  border: white solid 2px;
  background-color: rgb(90, 73, 73);
  border-radius: 20px;
  margin: 40px;
  padding: 10px;
}

body {
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 40px;
}

header {
  font-size: x-large;
  margin-bottom: 30px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: ease-in-out 0.3s;
}

a:hover {
  background-color: red;
}

.image {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
    transition: ease-in-out 0.3s;

    :hover {
      transition: rotate(200deg);
    }
}

.car-details {
  background-color: rgb(3, 3, 3);
  color: rgb(255, 255, 255);
  text-align: center;
  border: rgb(252, 255, 255) solid 2px;
  border-radius: 20px;
  margin: 40px auto;
  padding: 50px;
  max-width: 600px;
}