<%- include('partials/header') %>
<main>
    <div class="cars-grid">
         <div class="car-card">
            <h3>Buggati Veyron</h3>
            <p>The Bugatti Veyron is a mid-engine sports car that was produced by the French automaker Bugatti from 2005 to 2015.</p>
            <a href="info.html" class="btn">See more</a>
        </div>
    </div>
<%- include('partials/footer') %>